/data.js
/del.js
/easy.js
/exam.js
/home.js
/homed
/hw.js
/index.html
/index.js
/index2.js
/index3.js
/index4.js
/main.js
/mininiger.js
/node.js
/node_modules
/package-lock.json
/package.json
/post.js
/public
/put.js